// General
body {
    color: $dkgray;
}
.btn-primary {
    background-color: $dkgreen;
    border-color: $dkgreen;

    &:hover {
        background-color: $mdgreen;
        border-color: $mdgreen;
    }
}
.btn-outline-primary {
    border-color: $dkgreen;
    color: $dkgreen;

    &:hover {
        background-color: $mdgreen;
        border-color: $mdgreen;
    }
}


// GLOBAL COMPONENTS
// Navigation 1

// Navigation 2

// CTA

// Footer
footer {
    background-color: $dkgreen;
    padding: 30px 0 20px;
    color: $offwhite;

    svg {
        margin: 0 10px;
    }

    a {
        color:$offwhite;
        &:visited {
            color:$offwhite;
        }
        &:hover {
            color: $ltgray;
        }
        &:active {
            color: $turquoise;
        }
    }
}