// General
h2 {font-size: 2.75em}
body {
    color: $dkgray;
    background-image: url(../images/rockywall.png);
}

.btn-primary {
    background-color: $turquoise;
    border-color: $turquoise;

    &:hover {
        background-color: $mdgreen;
        border-color: $mdgreen;
    }
}
.btn-outline-primary {
    border-color: $turquoise;
    color: $turquoise;

    &:hover {
        background-color: $mdgreen;
        border-color: $mdgreen;
    }
}


// GLOBAL COMPONENTS
// Navigation 1
.navbar { background-color: $dkgray; }
.navbar a {
    color: $white;
}

// CTA

// Footer
footer {
    background-color: $dkgray;
    padding: 30px 0 20px;
    color: $offwhite;

    svg {
        margin: 0 10px;
    }

    a {
        color:$offwhite;
        &:visited {
            color:$offwhite;
        }
        &:hover {
            color: $ltgray;
        }
        &:active {
            color: $turquoise;
        }
    }
}